a{
	text-decoration: none;
}
body{
	margin:0;
	background: #29183a;
    color: #fff;
}
*{
	   font-family: 'Montserrat', sans-serif;
}
.container{
	margin: 100px auto;
    width: 50%;
}
.form-wrapper{
	display: flex;
}

.form-wrapper #magnetFiled{
	flex: 1;
    justify-content: center;
    background-color: rgba(222, 222, 222, 0.3);
    border: 1px solid #ddd;
	border-right: none;
    height: 35px;
    padding-left: 16px;
    font-size: 17px;
    border-radius: 20px 0px 0px 20px;
    transition: all 0.5s;
	color: #000;
}
#magnetFiled::-webkit-input-placeholder{
	color: orange;
}
#magnetFiled:focus{
	border: 1px solid #f96332;
	background: #fff
}
input:focus{
	outline: 0;
}
.form-wrapper #btnGet{
	flex: 0.3;
    border-radius: 0px 10px 10px 0px;
    background-color: #f96332;
    border: none;
    color: #fff;
    font-size: 17px;
    padding: 0px 13px;
	cursor: pointer;
	transition: background 0.5s;
}
#btnGet:hover{
	background-color: #e85c2f;
}
#btnGet:before{
	content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
.main {
	margin:45px -50px;
}
#loading{
	text-align: center;
}
#loading i{
	color: #f96332;
} 
#torrents {
	margin-top: 55px;
}
#torrents .title{
	font-size: 1.1em;
    font-weight: bold;
    text-align: center;
	margin-bottom: 60px;
}
#torrent{
	display: flex;
    margin-bottom: 19px;
}
#torrent *{
	color: #ddd;
	transition: color 0.5s;
}
#torrent:hover *{
	color: #fff;
}
#torrent #btnDownload{
	flex: 1;
}
#torrent #filename{
	flex: 11;
	  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#torrent #size{
	flex: 2;
	text-align: right;
}
#donwloadPanel{
	position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#donwloadPanel #wrapper{
	    background: rgba(0,0,0,.4);
    padding: 26px;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 32%;
}
#wrapper .filed {
	 margin-bottom: 14px;
}
#wrapper .filed >span{
	font-weight: bold;
    width: 135px;
    display: inline-block;
}
#myProgress {
	margin-top: 13px;
    width: 100%;
    border-radius: 25px;
    background-color: grey;
}
#myBar {
   height: 15px;
    border-radius: 25px;
    background-color: #431b71;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#myBar strong{
	left: 50%;
    position: absolute;
    transform: translate(-50%,-5%);
    font-size: 14px;
}

#cancel{
	    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 41px;
    padding: 11px 43px;
    border-radius: 9px;
    font-size: 17px;
    background: #b31a1a;
    color: #fff;
    border: none;
    cursor: pointer;
}
#cancel:hover{
	 background: #a01f1f;
}
