<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Torrent Web App</title>
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="node_modules/toastr/build/toastr.min.css" rel="stylesheet" >
</head>

<body ng-cloak ng-controller="main">
	<div class="container">
		<form class="form-wrapper" ng-submit="handlerTorrent()">
			<input id="magnetFiled" ng-model="magnet" ng-readonly="loading" type="text" placeholder="Put torrent manget ..." required>
			<input id="btnGet" ng-style="isAdded() && {'background-color': 'red'}" ng-value="isAdded() ? 'Cancel' : 'Get Torrent !'" type="submit">
		</form>
		<br>
		<section class="main">
			<div id="loading" ng-if="loading">
				<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
			</div>
			<div id="torrents" ng-if="torrent && !loading">
				<p class="title" ng-bind="torrent.title"></p>
				<div id="torrent" ng-repeat="tor in torrent.files">
					<a id="btnDownload" href="/torrent/{{encode(tor.path)}}"><i class="fa fa-download"></i></a>
					<a id="filename" ng-bind="tor.name" href="/torrent/{{encode(tor.path)}}"></a>
					<span id="size" ng-bind="size(tor.length)"></span>
				</div>
				
			</div>
		</section>
	</div>
		<div id="donwloadPanel" ng-if="progress">
			<div id="wrapper">
				<div class="filed" ng-repeat="(key,value) in progress.info">
					<span>{{ key | capitalize }} :</span>{{value}}
				</div>
				<div id="myProgress">
					<div id="myBar" ng-style="{'width' : progress.progress + '%' }"><strong>{{progress.progress}}%</strong></div>
				</div>
				<button id="cancel" ng-click="handlerTorrent(false)">Cancel</button>
			</div>
		</div>
	<script src="js/jquery.min.js"></script>	
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="node_modules/toastr/build/toastr.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
